.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(199, 102, 38);
    position: sticky;
    top: 50px;
  }
 .sidebarWrapper{
   padding: 20px;
   color:rgb(255, 255, 255);
 }
 .sidebarMenu{
   margin-bottom: 10px;
 }
 .sidebarList{
   list-style: none;
   padding: 5px;
 }
 .sidebarListItem{
   padding: 5px;
   cursor: pointer;
   display: flex;
   align-items: center;
   border-radius: 10px;
 }
 .sidebarListItem.active, .sidebarListItem:hover{
   background-color: rgb(26, 71, 104);
 }
 .alert{
   display: flex;
   margin-top: 100px;
   margin-left: 9px;
 }
 .tempRate{
   margin-top: 10px;
   margin-right: 80px;
   
 }
 .humidRate{
  margin-top:15px;
  margin-left: 0;
 }